.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.brand .image {
  flex: 1;
  max-width: 150px;
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
