.header {
  display: flex;
}
.header .content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 5rem;
}
.header .content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  margin-top: 2rem;
}
.header .content p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: var(--color-text);
  margin-top: 2rem;
}
.header .content .email {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
}
.header .content .email input {
  width: 100%;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  background: #052d56;
  border: none;
  padding: 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #3d6184;
  flex: 2;
}
.header .content .email button {
  flex: 0.6;
  background: #ff4820;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  padding: 0 1rem;
  cursor: pointer;
}
.header .content .people {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}
.header .content .people p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;
  margin: 0 0 0 1rem;
}
.header .image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.header .image img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1050px) {
  .header {
    flex-direction: column;
  }
  .header .content {
    margin: auto;
  }
  .header .image {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 780px) {
  .header .content h1 {
    font-size: 48px;
    line-height: 64px;
  }
}
@media screen and (max-width: 650px) {
  .header .content p {
    font-size: 16px;
    line-height: 24px;
  }
  .header .content .people {
    flex-direction: column;
    margin: 1rem auto;
  }
  .header .content .people p {
    margin: 1rem 0 0 0;
  }
  .header .content .email input,
  .header .content .email button {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 550px) {
  .header .content .email input,
  .header .content .email button {
    font-size: 10px;
    line-height: 14px;
  }
  .header .content h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .header .content .people p {
    font-size: 10px;
  }
}
